* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(asset/font/poppins-medium-webfont.woff) format("woff");
}
@font-face {
  font-family: "Poppins-semi";
  src: url(asset/font/poppins-semibold-webfont.woff) format("woff");
}
@font-face {
  font-family: "Poppins";
  src: url(asset/font/poppins-regular-webfont.woff) format("woff");
}
body {
  font-family: "Poppins";
}

main {
  background: url("asset/img/Screenshot\ 2023-12-31\ 155214.png"),
    rgba(0, 0, 0, 0.781);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  max-width: 100%;
}

@media (max-width: 400px) {
  main {
    padding: 2rem 0;
  }
}
